body {
    background-color:black;
}

h1 {
    color:hotpink;
    text-align:center;
    font-family:'Courier New', Courier, monospace; 
}

#hrOne {
    border-color:hotpink;
}

#hrTwo {
    border-color:#b994da;
}

#hrThree {
    border-color:#1cd5d7;
}

#hrFour {
    border-color:#bfe890;
}

#hrFive {
    border-color:#f0b57c;
}

img {box-align:center;
}