body {
    background-color:black;
}

h1 {
    color:hotpink;
    text-align:center;
    font-family:'Courier New', Courier, monospace; 
}

#hrOne {
    border-color:hotpink;
}

#hrTwo {
    border-color:#b994da;
}

#hrThree {
    border-color:#1cd5d7;
}

#hrFour {
    border-color:#bfe890;
}

#hrFive {
    border-color:#f0b57c;
}

#cakeImageDiv {
    text-align:center;
    color:hotpink;
    font-family:'Courier New', Courier, monospace
}

#CakePhotos {
    text-align:center;
    color:#1cd5d7;
    font-family:'Courier New', Courier, monospace;
}

img {
    height:50%;
    width:50%;
    display:inline-block;
}

#imgTwo {
    height:20%;
    width:20%;
    display:inline-block;
}

